.head-placement {
  display: flex;
  justify-content: space-between;
}
  header {
    width: 1340px;
height: 140px;
margin: 0 auto;
margin-bottom: 30px;
background-color: #52b788;
border-radius: 0 0 30% 30%;
box-shadow: 10px 10px 6px #081c15;

h1 {
  padding-left: 40px;
  margin-bottom: 60px;
  width: 30%;
  
  .mainpagelink {
    font-size: 40px;
    fill: #eee;
    font-family: $marker;
    stroke: #000;
    stroke-width: 2px;
    
  }
  .main-title {
    overflow: visible;
  }
}

&:hover {
  background: #5390d9;
  transition: all 0.2s ease-in-out;
}

.main-search {
  padding-top: 50px;
  padding-right: 30px;
}
}
