body {
  background-color: #d8f3dc;
  main {
    width: 1340px;
    margin: 0 auto;

    .main-link {
      width: 20%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      #newCharBtn {
        padding: 15px 20px;
        margin: 0 4px;
        display: inline-block;
        border-radius: 10rem;
        color: #000;
        text-transform: uppercase;

        letter-spacing: 2px;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10rem;
          z-index: -2;
          background-color: #a3c4f3;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          transition: all 0.3s;
          border-radius: 10rem;
          z-index: -1;
          background-color: darken(#a3c4f3, 15%);
        }
        &:hover {
          color: #fff;
          &:before {
            width: 100%;
          }
        }
      }
    }

    .main-list {
      .main-list__list {
        display: flex;
        flex-wrap: wrap;
      }
      .main {
        margin: 10px 20px;
        height: 370px;
        max-width: 23%;
        width: 22%;
        font-family: $varela;
        background-color: #95d5b2;
        box-shadow: 0.8px 0.2px 5px 1px #a5a58d;
        border-radius: 18px;

        .main__img {
          width: 87%;
          background-color: #1b4332;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 25px;
          margin: 0 auto;
          margin-top: 10px;
          border-radius: 20px 100px;

          .main__img__photo {
            box-sizing: border-box;
            border-radius: 8px;
            width: 100px;
          }
        }

        &__name {
          margin-top: 20px;
          font-family: $anton;
        }

        &__short-description {
          font-size: 18px;
          height: 30px;
        }
        &__link {
          width: 100%;
          padding-bottom: 20px;
          margin-top: 50px;
          text-align: center;

          #main__singlePage {
            .main__singlePage__btn {
              border: 1px solid #000;
              cursor: pointer;
              background-color: #372772;
              color: #fff;
              padding: 10px 12px;
              border-radius: 5px;
              width: 100x;
              font-size: 15px;
              text-decoration: none;
            }

            .main__singlePage__btn:hover {
              background-color: $yellow;
              color: #000;
              transition: all 0.2s ease-in-out;
            }
          }
        }

        &__name,
        &__short-description {
          padding: 6px;
          padding-left: 18px;
        }
      }

      .main:hover {
        margin-top: 0em;
        margin-bottom: 2em;
        background: #52b788;
        box-shadow: 10px 10px 6px #081c15;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
