/* body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

//Buttons
.action {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;

  #next,
  #update,
  #delete {
    padding: 15px 20px;
    margin: 0 4px;
    display: inline-block;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;

    letter-spacing: 2px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      transition: all 0.3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }

  #update {
    &:after {
      background-color: blue;
    }
    &:before {
      background-color: darken(blue, 15%);
    }
  }
  #delete {
    &:after {
      background-color: red;
    }
    &:before {
      background-color: darken(red, 15%);
    }
  }
  #next {
    &:after {
      background-color: green;
    }
    &:before {
      background-color: darken(green, 15%);
    }
  }
}

//main container section
.single__container-section {
  width: 980px;
  margin: 0 auto;
  background-color: #335c67;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 6px #081c15;

  //image,name,short-description and next button container div
  .single__container-image {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;

    .single__image {
      width: 100%;
      background-color: white;
      border: 3px solid rgb(32, 29, 29);
      border-radius: 15px;
    }
  }
  .single__name {
    text-align: center;
    padding-top: 24px;
    font-family: $anton;
    font-size: 24px;
  }

  .single__title-desc {
    padding-left: 35px;
    font-family: $varela;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: yellow;
  }

  .single__short-discription,
  .single__detailed-discription {
    padding-top: 25px;
    padding: 30px;
    font-family: $archDaughter;
    font-size: 20px;
  }
  .single__short-discription {
    height: 100px;
  }
  //detailed description container div
  .single__detailed-discription {
    padding-bottom: 30px;
  }
  //buttons  container div
}
#myForm {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  flex-direction: column;
  color: yellow;
  background-color: black;
  width: 400px;
  height: auto;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 10%;
  padding: 10%;
  input {
    padding: 10px;
  }
  button {
    padding: 10px;
  }
  #detailed-dsc {
    padding: 60px;
    margin: 5px;
    justify-content: flex-start;
    text-align: justify;
  }
}
