//font
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rampart+One&family=Varela+Round&display=swap");
$rampart: "Rampart One", cursive;
$varela: "Varela Round", sans-serif;
$anton: "Anton", sans-serif;
