//font
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Permanent+Marker&family=Varela+Round&display=swap");
$varela: "Varela Round", sans-serif;
$anton: "Anton", sans-serif;
$archDaughter: "Architects Daughter";
$marker: "Permanent Marker", cursive;

//Colour
$persianGreen: #2a9d8f;
$yellow: #e9c46a;
$brown: #f4a261;
$burnt: #e76f51;
