//font
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rampart+One&family=Varela+Round&display=swap");
$rampart: "Rampart One", cursive;
$varela: "Varela Round", sans-serif;
$anton: "Anton", sans-serif;

//Colour
$persianGreen: #2a9d8f;
$yellow: #e9c46a;
$brown: #f4a261;
$burnt: #e76f51;
